<!DOCTYPE html>
{% load static %} <!-- New line -->
<html lang="en">
<head>
    <title>User Authorization</title>
</head>
<body>
<a href="/SecureWitness/">Index</a>

    {% if user.is_staff %}
        <h1>Admin</h1>
        <form id="auth_form" method="post" action="/SecureWitness/auth/">
        {% csrf_token %}

        {% for u in userlist %}
            &emsp; {{ u }} <br/>
            &emsp; &emsp; IsStaff: {{u.is_staff}} <br/>
            &emsp; &emsp; IsActive: {{u.is_active}} <br/>
            <br/>
         {% endfor %}


        {{ form }}
        <br/>
        Make User a Site Manager (SM) <input type="submit" value="Authorize" name="_auth">
                *Users may not have SM status revoked once given

            <br/>
            Suspend/Restore User <input type="submit" value="Authorize" name="_sus">
                    *Cannot suspend/restore other SM users
            <br/>

        </form>
    {% else %}
        <p>Log in as an admin, fool.</p>

    {% endif %}

</body>
</html>
