<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        <h1>SecureWitness says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <a href="/SecureWitness/about/">About</a><br />
        <a href="/SecureWitness/list/">List</a><br />
        <a href="/SecureWitness/add_category/">Add a New Category</a>
        <a href="/SecureWitness/register/">Register Here</a>
        {% if categories %}
            <ul>
                {%  for category in categories %}
                <li><a href="/SecureWitness/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <br/>
        <img src="{% static "meme.jpg" %}" alt="Dank Meme" /> <!-- New line -->
    </body>

</html>