<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
	{% if user.is_authenticated %}
            <h1>SecureWitness says hello {{ user.username }}</h1>
	{% else %}
		<h1> you ain't even signed in boy </h1>
	{% endif %}
        <a href='/SecureWitness/'>Index</a> <br/>
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p>
				{{ form.title.label_tag }}
			</p>
			<p>
				{{ form.title }}
			</p>
 			<p>
                                {{ form.description.label_tag }}
                        </p>
			<p>
				{{ form.description }}
			</p>
 			<p>
                                {{ form.detailed_description.label_tag }}
                        </p>
			<p>
                                {{ form.detailed_description }}
                        </p>
			<p>
                                {{ form.encrypted.label_tag }}
                        </p>
  			<p>
                                {{ form.encrypted }}
                        </p>
			<p>
				{{ form.private.label_tag }}
			</p>
			<p>
				{{ form.private }}
			</p>
			
			<p><input type="submit" value="Upload" /></p>

		</form>

	</body>

</html> 
