<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Report file upload</title>
	</head>

	<body>
	{% if user.is_authenticated %}
            <h1>SecureWitness says hello {{ user.username }}</h1>
	{% else %}
		<h1>Please <a href="user_login.html">login here</a> </h1>
        <h1>Not registered? <a href="register.html">Register here</a> </h1>
	{% endif %}
        <a href='/SecureWitness/'>Index</a> <br/>
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}
		
{% if folders %}
<ul>
{%for folder in folders %}
<li><a href="{{ folder.title }}"> {{ folder.title }} </a></li>
{% endfor %}
</ul>
{% else %}
<p> No folders.</p>
{% endif %}
<p><a href="/SecureWitness/addFolder"</a>Add a folder</p>
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p>
				{{ form.title.label_tag }}
			</p>
			<p>
				{{ form.title }}
			</p>
 			<p>
                                {{ form.description.label_tag }}
                        </p>
			<p>
				{{ form.description }}
			</p>
 			<p>
                                {{ form.detailed_description.label_tag }}
                        </p>
			<p>
                                {{ form.detailed_description }}
                        </p>
			<p>
                                {{ form.encrypted.label_tag }}
                        </p>
  			<p>
                                {{ form.encrypted }}
                        </p>
			<p>
				{{ form.private.label_tag }}
			</p>
			<p>
				{{ form.private }}
			</p>
			Select images: <input type="file" name="img" multiple>
			<p><input type="submit" value="Upload"/></p>

		</form>

	</body>

</html> 
