<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>

</head>
<body>

    {% if reports %}
        <ul>
            {% for old_reports in reports %}

                <li>
                    <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }} Created on: {{ old_reports.timestamp }}</a>
                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="(delete)">
                    </form>
                </li>

            {% endfor %}
        </ul>

    {% endif %}

{% if folders %}
<ul>
{%for folder in folders %}
<li><a href="{{ folder.title }}"> {{ folder.title }} </a></li>
{% endfor %}
</ul>
{% else %}
<p> No folders.</p>
{% endif %}
<p><a href="/SecureWitness/addFolder"</a>Add a folder</p>
	
    <p><a href="{% url 'add_report' %}">Make a new report</a></p>
    <p><a href="{% url 'index' %}">Index</a></p>
</body>
</html>
