<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>

</head>
<body>
    <a href="/SecureWitness/">Index</a>
<br/><br/>
    Owner of:
    {% if report_list %}
        <ul>
            {% for old_reports in report_list %}


                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                                            <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
<input type="submit" value="delete">
                    </form>


            {% endfor %}
        </ul>

    {% endif %}
    <br/>
    Shared through your groups:
    {% if group_report_list %}
        <ul>
            {% for old_reports in group_report_list %}


                    <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                    </form>


            {% endfor %}
        </ul>

        <br/>
    Shared to you by owner:
    {% endif %}
      {% if shared_report_list %}
        <ul>
            {% for old_reports in shared_report_list %}


                    <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                    </form>


            {% endfor %}
        </ul>

    {% endif %}


<p><a href="/SecureWitness/addFolder"</a>Add a folder</p>
	
    <p><a href="{% url 'add_report' %}">Make a new report</a></p>
</body>
</html>

<!--
{% if folders %}
    <ul>
    {%for folder in folders %}
    <li><a href="{{ folder.title }}"> {{ folder.title }} </a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p> No folders.</p>
    {% endif %} //-->