<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>

</head>
<body>
    <a href="/SecureWitness/">Index</a>
<br/><br/>
    <form action="{% url 'reports' 0%}" methods="GET">
        <p>{{ search }}</p>
        <input type="submit" value="Search">
    </form>
    {% if report_list %}
            Reports owned by {{ reporter }}:

        <ul>
            {% for old_reports in report_list %}
                {% if old_reports in results %}

                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                                            <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
<input type="submit" value="delete">
                    </form>
                {% endif %}


            {% endfor %}
        </ul>

    {% endif %}
    <br/>
    {% if group_report_list %}
            Shared through your groups:

        <ul>
            {% for old_reports in group_report_list %}


                    <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                    </form>


            {% endfor %}
        </ul>

    {% endif %}
            <br/>

      {% if shared_report_list %}
              Shared to you by owner:

        <ul>
            {% for old_reports in shared_report_list %}


                    <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                    </form>


            {% endfor %}
        </ul>

    {% endif %}
    <br/>
    {% if public_report_list %}
              Available to the public:

        <ul>
            {% for old_reports in public_report_list %}


                    <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
                    <form action="{% url "reports" old_reports.id%}" method="POST">
                        {% csrf_token %}
                    </form>


            {% endfor %}
        </ul>

    {% endif %}
                <br/>

    {% if user.is_staff %}
          {% if admin_report_list %}
                      Visible due to SM access:

            <ul>
                {% for old_reports in admin_report_list %}


                        <a href="{% url 'disp_report' old_reports.id %} ">{{ old_reports.title }}</a>  Created on: {{ old_reports.timestamp }} by {{ old_reports.user }}
                        <form action="{% url "reports" old_reports.id%}" method="POST">
                            {% csrf_token %}
                        </form>


                {% endfor %}
            </ul>

        {% endif %}
        {% endif %}


<p><a href="/SecureWitness/addFolder"</a>Add a folder</p>
	
    <p><a href="{% url 'add_report' %}">Make a new report</a></p>
</body>
</html>


{% if folders %}
    <ul>
    {%for folder in folders %}
    <li><a href="{% url 'view_folder' folder.title %}"> {{ folder.title }} </a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p> No folders.</p>
    {% endif %} 
