<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">

    <head>
        <title>Search</title>
    </head>
    <body>
    <a href="/SecureWitness/">Index</a><br/>

    <form method="get" class="search">
        <tr><th><label for="id_q">Search:</label></th><td>
        <input type="text" title="q" id="id_q" />
        <input type="hidden" title="order_by" id="id_order_by" /></td></tr>
        <input type="submit" value="Search">
    </form>

    <ul class="search-results">

    </ul>
    </body>


</html>