<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        <h1>Login to SecureWitness</h1>
            <a href="/SecureWitness/">Index</a><br />

        <form id="login_form" method="post" action="/SecureWitness/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>